@charset "gb2312";

/* CSS Document */


/***** 全局样式 Global-Style *****/

* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	font: 12px/160%, "宋体";
	background: url(../../img/work8_img/0.png) center top no-repeat;
}

form,
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: none;
}


/***** 全局链接 Global-Link-Style *****/

a {
	color: #606163;
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
}


/***** 水平居中 *****/

.cen {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}


/***** 清除浮动 *****/

.cen {
	clear: both;
}

.clear {
	clear: both;
}


/***** 顶部 *****/

#top_w {
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 176px;
	background: url(../../img/work8_img/top_bg.png) repeat top left;
}

#top_w .top_t {
	width: 1200px;
	height: 116px;
}

.top_logo {
	width: 568px;
	height: 116px;
	float: left;
}

.top_r {
	width: 296px;
	float: right;
}


/*** 中英文切换 ***/

.top_right_qh {
	position: relative;
	float: right;
	width: 74px;
	height: 21px;
	display: block;
	z-index: 9999999999999;
	margin-bottom: 24px;
}

.top_left_qh {
	position: relative;
	float: left;
	width: 74px;
	height: 21px;
	display: block;
	z-index: 99999999999;
	margin-bottom: 24px;
	margin-top: 6px;
	margin-left: 120px;
}

.lanBox {
	position: absolute;
	top: 8px;
}

.lanBox h3 {
	height: 19px;
	font: 12px/19px "宋体";
	font-weight: normal;
	width: 53px;
	padding-left: 26px;
	color: #81a1c8;
	cursor: pointer;
	background: url(../../img/work8_img/top_sjx.png) no-repeat 10px center;
	text-align: left;
	border: 1px #81a1c8 solid;
	-webkit-border-radius: 20px;
	/*适配以webkit为核心的浏览器(chrome、safari等)*/
	-moz-border-radius: 20px;
	/*适配firefox浏览器*/
	-ms-border-radius: 20px;
	/*适配IE浏览器*/
	-o-border-radius: 20px;
	/*适配opera浏览器*/
	border-radius: 20px;
	/*适配所有浏览器(需要放在最后面，类似于if..else if..else..)*/
}

.lanBox ul {
	background: #e1f0f5;
	width: 81px;
	position: absolute;
	z-index: 9999999999999;
	top: 24px;
	overflow: hidden;
	height: 0px;
	transition: all .3s ease;
	text-align: center;
}

.lanBox ul li a {
	height: 22px;
	line-height: 22px;
	padding: 0px;
	text-align: center;
	width: 81px;
	font-size: 12px;
	opacity: .7;
}

.lanBox ul li a:hover {
	opacity: 1;
}

.lanBox:hover ul {
	height: 50px;
}


/*** 口号 ***/

.top_kh {
	width: 296px;
	height: 47px;
}


/***** nav *****/

.navBar_w{
	position:relative; 
	z-index:99;
	height:60px;
	background: url(../../img/work8_img/top_nav_bg.png) repeat left top;
}
.navBar{
	width:1200px;
	margin: auto;
}
.nav_top{ 
	position:relative; 
	width:980px; 
	float:left;
}
.nav_top a{ color:#333;  }
.nav_top h3{ 
	font-size:100%; 
	font-weight:normal;   
}
.nav_top .m{ 
	float:left;
	position:relative; 
	z-index:1;
}
.nav_top h3 a{ 
	display:block; 
	width:88px;
	margin-top: -5px; 
	text-align:center;
	font-weight:bold; 
	color:#fff; 
	font:16px/65px "微软雅黑"; 
	font-weight:normal; 
}
.nav_top h3 a:hover{ 
	height:60px;
	margin-top: -4px;
	color:#fff;
	width:97px;
	background-color: #1958B0;
}
.nav_top .sub{ 
    margin-top: -4px; 
	position:absolute;
	top:60px; 
	z-index:9999999999999; 
	width:97px; 
	background:#f1f5fc; 
	border-top: 0;
}
.nav_top .sub li{ 
    display: none;
	text-align:center; 
	padding:0 8px; 
	margin-bottom:-1px;
}
.nav_top> li:hover li{
	display: block;
}
.nav_top .sub li a{ 
	display:block; 
	padding:8px 0; 
	height:28px; 
	color:#666;
	font:14px/28px "微软雅黑";
}
.nav_top .sub li a:hover{ color:#cc0000;}
.nav_top .block{
	height:60px; 
	width:97px; 
	background:#295fab; 
	color:#232323;
	position:absolute;
	margin-left:2px;
	top:0px;
	overflow:hidden;  
}


/*** 搜索 ***/

.search {
    float: right;
    display: block;
    width: 218px;
    height: 32px;
    margin-top: 10px;
}
.search li.ipt {
    float: left;
    width: 189px;
    height: 40px;
}
.search li.ipt .keyword {
    float: left;
    display: block;
    border: none;
    outline:none;
    width: 169px;
    padding-left: 20px;
    height: 32px;
    font: 13px/32px "微软雅黑";
    color: #95b4df;
    background: url(../../img/work8_img/ss_txt.png) no-repeat left center;
}
.search li.btn {
    float: right;
    cursor: pointer;
    width: 29px;
    height: 32px;
    display: block;
    background: url(../../img/work8_img/ss_fdj.png) no-repeat left center;
}


/***** banner *****/

.banner {
	height: 418px;
    width: 100%; 
	position: relative;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.banner img {
	width: 100%;
	display: block;
	margin: auto;
}

.banner_ban img{ 
   width:100%;
   margin: auto;
}


/***** 当前位置 *****/

.position {
	width: 814px;
	padding-left: 30px;
	background: #fafbfd url(../../img/work8_img/add_ico01.png) 13px center no-repeat;
	
	height: 38px;
	font: 12px/38px "微软雅黑";
	color: #787777;
	height: 38px;
	margin-top: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 3px #e3e3e3;
	/*兼容operaspace:nowrap*/
	-moz-box-shadow: 0px 0px 3px #e3e3e3;
	/*兼容firefox*/
	-webkit-box-shadow: 0px 0px 3px #e3e3e3;
	/*兼容safari或chrome*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e3e3e3, direction=120, strength=3);
	/*兼容ie*/
}

.position a {
	font: 13px/30px "微软雅黑";
	height: 30px;
	color: #535252;
	text-decoration: none;
}

.position a:hover {
	text-decoration: underline;
}


/***** 机构设置当前位置 *****/

.jgsz_position {
	width: 1100px;
	background: #f4f8fd;
	height: 58px;
	font: 12px/58px "微软雅黑";
	color: #787777;
	margin-top: 20px;
	margin-bottom: 50px;
}

.jgsz_position h3 {
	width: 198px;
	height: 58px;
	float: left;
	text-align: center;
	font: 24px/58px "微软雅黑";
	color: #fff;
	background: #05387e url(../../img/work8_img/ej_logo.png) 3px center no-repeat;
	background: url();
}

.jgsz_position p {
	float: right;
	padding-left: 20px;
	height: 58px;
	margin-right: 20px;
	background: url(../../img/work8_img/jgsz_addico.png) left center no-repeat;
	font: 13px/58px "微软雅黑";
	height: 58px;
	color: #05387e;
}

.jgsz_position p a {
	font: 13px/58px "微软雅黑";
	height: 58px;
	color: #05387e;
	text-decoration: none;
}

.jgsz_position p a:hover {
	color: #CE0000;
	text-decoration: underline;
}

#container {
	width: 1200px;
}


/* 防止高度称不开 */

.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}


/*********** 院系导航 ***********/

.bk02_list03 {
	width: 273px;
	float: right;
}

.bk02_list03 h3 {
	width: 273px;
	height: 46px;
	font: 18px/46px "微软雅黑";
	color: #fff;
	font-weight: bold;
	background:#0a3f89 url(../../img/work8_img/bt_line.png) no-repeat center;
	text-align: center;
}

.bk02_list03 ul li {
	width: 273px;
	height: 37px;
	background: #efefef;
}

.bk02_list03 ul li a {
	width: 215px;
	height: 37px;
	padding-left: 58px;
	font: 15px/37px "微软雅黑";
	color: #171717;
	display: block;
	
	background: url(../../img/work8_img/ico02.jpg) no-repeat 32px center;
}

.bk02_list03 ul .bk02_list03_ts {
	width: 273px;
	height: 37px;
	
}

.bk02_list03 ul .bk02_list03_ts a {
	width: 215px;
	height: 37px;
	padding-left: 58px;
}

.bk02_list03 ul li a:hover {
	color: #0a3f89;
}


/***** 公共底部 *****/

.foot_w {
	width: 100%;
	height: 240px;
	background: #0a3f89;
}

.foot {
	width: 1200px;
	height: 192px;
}

.foot_logo {
	width: 131px;
	height: 140px;
	float: left;
	margin: 22px 150px 0px 16px;
}

.foot_logo img {
	width: 131px;
	height: 140px;
}

.foot_xq {
	width: 310px;
	float: left;
	margin-top: 28px;
	margin-left: 20px;
}

.foot_xq h3 {
	font: 16px/24px "微软雅黑";
	color: #fff;
	margin-bottom: 12px;
}

.foot_xq p {
	font: 13px/24px "微软雅黑";
	color: #90afdb;
}

.foot_ewm {
	width: 101x;
	height: 135px;
	float: right;
	margin: 30px 55px 0px 0px;
}

.foot_ewm img {
	width: 101x;
	height: 101x;
	margin-bottom: 6px;
}

.foot_ewm p {
	width: 101x;
	font: 14px/24px "微软雅黑";
	color: #fff;
	text-align: center;
}

.copyright {
	width: 100%;
	height: 70px;
	padding-top: 20px;
	font: 13px/20px "微软雅黑";
	color: #fff;
	background: #002a64;
	text-align: center;
}

.copyright img {
	vertical-align: middle;
	margin-right: 5px;
}

.copyright a {
	font: 13px/47px "微软雅黑";
	color: #a0a0a0;
	margin-right: 10px;
}